.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10 px 10 px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 5px;
}

.tab-content{
    padding-top: 10px;
}

.img-fluid{
    padding-bottom: 20px;
}